* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    min-width:980px;
    font-family: 'Calibri'
}

main {    
    background-color: white;
    box-shadow: 0 0 15px white;
    margin:auto;
    max-width:980px;
    min-height:95vh;
    padding-bottom:15px;
}


/* Page comparaison */
.comparaisonImage{
    border: 1px black solid;
    margin: auto; 
    width: 90%;

}
.comparaison{
    border: 1px black solid;
    margin: auto;
    width: 80%;
    text-align: center;
}
tr, td {
    border: 1px black solid;
}
